html, body {
    margin: 0px;
   }
#jumbotron1 {
    background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: 100% 100%;
    height: 500px;
    margin-bottom: 0%;
    color: gray;
    text-decoration: border;
    text-shadow: 2px 2px white;

}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
    font-family: "Oxanium";
}

.fas {
    color: black;
}
.name {
    font-size: 100px;
    text-emphasis: bold;
    text-decoration: border;
    font-family: "Oxanium";
}

.occupation {
    font-size: 50px;
    text-emphasis: bold;
    text-decoration: border;
    font-family: "Oxanium";
}

.resume {
    font-size: 35px;
   
}

.row1 {
 
       margin: 0 auto;
        align-items: center;
        display: flex;
        float: none;
        justify-content: space-around;
    
}

.row2 {
    margin: 0 auto;
    align-items: center;
    display: flex;
    float: none;
    justify-content: space-around;
  }

  .row3 {
    margin: 0 auto;
    align-items: center;
    display: flex;
    float: none;
    justify-content: space-around;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 100px;
  }

  .banner {
    position: absolute; 
    bottom: 0; 
    z-index: 5;
    background-color: #2540b7;
    color: white;
    text-align: center;
    width: 200px;
    height: 30px;
    
  }


  .about {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 200%;
    color: #777777;
    background-color: white;
    padding: 20px;
  }

  .abt {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
  }
  
#jumbotron2 {
    
    background-size: 100% 100%;
    background-image: url(https://images.unsplash.com/photo-1518563259479-d003c05a6507?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    height: 500px;
    margin-bottom: 0%;
    color: blue;
    text-decoration: border;
    


}

.container1 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container2 {
    padding-top: 100px;
    padding-bottom: 100px;
}
    
.container3 {
    padding-top: 10px;
}

.footer {
    text-align: center;

}
 

@media (max-width: 650px) {

    #nav {
        width: 100%;
        text-align: right;
    
    }

    .name {
        font-size: 50px;
    }

    .occupation {
        font-size: 25px;
    }



    .row2 {
        margin-top: 0px;
    }

    .row1 {
        margin-top: 0px;
    }
  

}

@media (min-width: 320px){
    #nav {
        width: 100%;
        text-align: left;
    }
}